# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
honeyshell
/vfsutil
honeyshell-c
honeyshell.log
honeyshell.db
bin
src
libssh-*
id_rsa*

# Custom
.vscode/
plugins/
vfs.json
out.json
/cmd/tests
/tests
